# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Audio temporary files
*.mp3
temp_audio/

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Node modules
node_modules/
.vercel

.vercel
